django==2.2.20
django-admin-honeypot==1.1.0
python-memcached==1.59
python-ldap==3.3.1
pyodbc==4.0.30
mysqlclient==2.0.3
django-bootstrap4==2.3.1
django-localflavor==3.0.1
twilio==6.56.0
pycryptodome==3.10.1
cryptography==3.4.7
requests==2.25.1
django-loginas==0.3.9
wemake-python-styleguide==0.13.3
