{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
    Send SMS &mdash; Admissions &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
{{block.super}}
<script src="https://www.carthage.edu/static/vendor/cleave.js/cleave.min.js"></script>
<script src="https://www.carthage.edu/static/vendor/cleave.js/addons/cleave-phone.us.js"></script>
<script>
var cleavePhone = new Cleave('#id_indi-phone_to', {
  phone: true,
  phoneRegionCode: 'US',
  delimiter: '-'
});
$(function() {
  {% if bulk %}
  $('#bulkForm').slideDown('200');
  $('#indiForm').slideUp('200');
  $('#bulkSwitch').attr('aria-pressed', 'true');
  $('#bulkSwitch').addClass('focus active');
  {% else %}
  $('#bulkForm').slideUp('200');
  {% endif %}
  $('#bulkSwitch').on('click', function (e) {
    $pressed = $(this).attr('aria-pressed');
    if ($pressed == "false") {
      $('#bulkForm').slideDown('200');
      $('#indiForm').slideUp('200');
    } else {
      $('#bulkForm').slideUp('200');
      $('#indiForm').slideDown('200');
    }
  });
  var maxLength = 160;
  $('#id_indi-message').keyup(function() {
    var length = $(this).val().length;
    var length = maxLength-length;
    $('#indi-chars').text(length);

    if($(this).val().length > maxLength){
      $("#id_indi-message").css('color','red');
    }else{
      $("#id_indi-message").css('color','black');
    }

  });
  $('#id_bulk-message').keyup(function() {
    var length = $(this).val().length;
    var length = maxLength-length;
    $('#bulk-chars').text(length);

    if($(this).val().length > maxLength){
      $("#id_bulk-message").css('color','red');
    }else{
      $("#id_bulk-message").css('color','black');
    }

  });
  $("#id_phone_to").on("change", function(){
      var $data = {
        "phone_to": $(this).val()
      };
      $.ajax({
        type: "POST",
        async: true,
        url:  "{% url 'sms_get_sender' %}",
        dataType: "json",
        data: $data,
        success: function(data) {
          if (data['message'] == "Success") {
            $("#id_phone_from").val(data['sender']);
            $("#id_student_number").val(data['student_number']);
          }
        }
      });
  });
  $('#messageStatus').on('show.bs.modal', function (e) {
    var loadurl = e.relatedTarget.dataset.loadUrl;
    $(this).find('.modal-body').load(loadurl);
  });

  // disable submit button after submit
  $('form').submit(function(e) {
    $('input[type="submit"]').prop('disabled', true);
    return true;
  });

});
</script>
{% endblock %}
{% block content %}
<h3>Send a message</h3>
{% if messages %}
  {% for message in messages %}
    <div id="messages" class="alert-dismissable alert-link {{ message.tags }}">
      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>{{ message|safe }}</strong>
    </div>
  {% endfor %}
{% endif %}
<div class="row">
  <div class="forms-container col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
    {% if errors %}
    <div class="alert alert-danger">
        <p>Some messages did not go through to the recipients phone:</p>
        <ul>
        {% for e in errors %}
            <li>
                <a href="{% url 'detail' e.sid %}">{{e.to}}</a>
            </li>
        {% endfor %}
        <ul>
    </div>
    {% endif %}
    <h5>Bulk</h5>
    <button id="bulkSwitch" type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
      <div class="handle"></div>
    </button>
    <form method="post" action="." id="indiForm" style="margin-bottom:20px;">
      {% if form_indi.errors %}
        <div class="alert alert-danger mt-4">
          Please correct the errors below.
        </div>
      {% endif %}
      {% csrf_token %}
      {% bootstrap_form form_indi %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="indi-submit">
    </form>
    <form method="post" action="." id="bulkForm" style="margin-bottom:20px;" enctype="multipart/form-data">
      {% if form_bulk.errors %}
        <div class="alert alert-danger mt-4">
          Please correct the errors below.
        </div>
      {% endif %}
      {% csrf_token %}
      {% bootstrap_form form_bulk %}
      <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="bulk-submit">
    </form>
  </div>
</div>
<!-- Message Status Modal -->
<div class="modal fade h-75" id="messageStatus" tabindex="-1" role="dialog" aria-labelledby="messageStatusLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageStatusLabel">Message Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
{% endblock %}
