<h4>Greetings from #StaySafeCarthage</h4>
<p>
  <strong>
    Students: Please resume using the #StaySafeCarthage Daily Check-in app on
    Jan. 4.
  </strong>
</p>
<p>
  During winter break, continue to monitor yourself for symptoms,
  take precautions to get tested and/or isolate as needed, and retain any
  records if you are tested. Daily reminders to use the  #StaySafeCarthage
  Daily Check-in App will resume Jan. 4. It is important that you begin using
  the app again right away, as this data will help us ensure a safe return to
  in-person activities.
</p>
<p>
  <strong>
    Beginning on January 4, please complete your daily check-ins by 2 p.m.
  </strong>
</p>
