{% extends "base.html" %}
{% block title %}
    User Profile &mdash;
    Twilio Apps &mdash;
    Carthage College
{% endblock %}
{% block breadcrumb %}
<div class="row">
    <div class="col-lg-12">
       <h1>
        Manage Your Twilio Senders
        <small class="float-right" style="margin-right:20px;">
        <a href="#"><i class="fa fa-home fa-2x green"></i></a>
        </small>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% if messages %}
<div class="row">
  {% for message in messages %}
    <div id="messages" class="{{ message.tags }} col-lg-6 ml-3">
    <strong>{{ message|safe }}</strong>
    </div>
  {% endfor %}
</div>
{% endif %}
<div class="card">
  <div class="card-header">
    <i class="fa fa-table"></i> Phone numbers and Messaging Service IDs
    <a href="{% url 'sender_manager' %}">
    <i class="fa fa-plus-circle green blue-tooltip" data-toggle="tooltip"
      data-placement="right" aria-hidden="true"
      title="Add another Phone Number or SID"></i></a>
  </div>
  <div class="card-body" style="margin-bottom:20px">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Phone Number / SID</th>
          <th scope="col">Alias</th>
          </tr>
        </thead>
        <tbody>
          {% for s in user.sender.all %}
          <tr>
          <td>{{forloop.counter}}</td>
          <td>
            {% if s.phone %}
                {{s.phone}}
            {% else %}
                {{s.messaging_service_sid}}
            {% endif %}
          </td>
          <td>{{s.alias}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
