{% extends "djbootmin/base.html" %}
{% block extra_style %}
<link href="https://www.carthage.edu/themes/shared/css/tables.css"
    rel="stylesheet" type="text/css">
<link href="/static/djtwilio/css/bs.css"
    rel="stylesheet" type="text/css">
<!-- print CSS -->
<link href="https://www.carthage.edu/themes/shared/css/print.css"
    rel="stylesheet">
<style type="text/css">
.bg-boot{background-color:#563d7c;}
#page-wrapper{margin:0;padding:0;}
.panel-primary > .panel-heading { color: inherit; }
.btn {padding: .1rem .2rem;font-size:inherit;}
.card-body { padding: .5rem; }
.card-body select { width: 100%; }
.card-header { font-size:1.2em; padding: .25rem .5rem;}
.card-footer { padding: .25rem .5rem;}
.card {min-height: 160px;}
#id_bulk-description {height:100px;}
.content-wrapper { margin-top:60px; }
nav a {color: #cbbde2;}
nav a:hover {color:#fff;}
nav .input-group-btn {font-size:1.3em;}
.navbar-toggler-icon {color:yellow;}
.dropdown-menu {padding: 5px; background-color:#563d7c;}
.dropdown { margin-right:10px; padding: 5px;  }
.success a { color: #007bff; }
.panel-primary > .panel-heading {color: inherit;}
.btn {padding: .1rem .2rem;font-size:inherit;}
.message-status {cursor: pointer;}
dt, dd {line-height:.85em;}
dt {overflow: hidden; white-space: nowrap;}
dd {overflow: hidden;white-space: nowrap;}
dt:after {
  content: " ..................................................................................";
  color: #cacaca;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.green, .glyphicon-ok { color: #008000; }
/* Overrides for BS form classes */
.form-group.required label:after {
  content:" *";
  color:red;
}
.form-group label { font-weight:700; }
form div.alert-dismissable {display:none;}
#ptTimeSelectCntr {color: #303030;background: #ebebeb;font: .74em Arial, Verdana, sans-serif;text-align: center;line-height: 1.6em;margin: 2.5em 0;}
#id_bulk-distribution.is-invalid {border: 1px solid #dc3545;}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block body_tag %}{% endblock %}
{% block navbar-header %}
  <a href="{# url 'home' #}" class="mr-sm-3 mr-lg-3"><i class="fa fa-home fa-2x"></i></a>
  <a class="navbar-brand" href="{# url 'home' #}">Twilio Manager</a>
{% endblock %}
{% block navbar-top-links %}
  <ul class="navbar-nav ml-auto">
    <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{user.first_name|default:"Dashboard"}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li>
                {% if user.is_anonymous %}
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i> Sign In
                </a>
                {% else %}
                <a href="{% url 'auth_logout' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
                {% endif %}
            </li>
            {% if not user.is_anonymous %}
            <li>
                <a href="{% url 'user_profile' %}">
                    <i class="fa fa-universal-access" aria-hidden="true"></i>
                    User Profile
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
  </ul>
{% endblock navbar-top-links %}
{% block navbar-sidenav %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Messages">
    <a class="nav-link" href="{% url 'sms_home' %}">
      <i class="fa fa-fw fa fa-inbox"></i>
      <span class="nav-link-text">My messages</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Send Messages">
    <a class="nav-link" href="{% url 'sms_send_form' %}">
      <i class="fa fa-fw fa fa-send"></i>
      <span class="nav-link-text">Send Messages</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Students List">
    <a class="nav-link" href="{% url 'student_list' %}">
        <i class="fa fa-th-list" aria-hidden="true"></i>
      <span class="nav-link-text">Student List</span>
    </a>
  </li>
  {% if user.is_superuser %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fa fa-fw fa fa-cog" aria-hidden="true"></i>
      <span class="nav-link-text">Administration</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-center" data-toggle="tooltip" data-placement="right" title="Expand Menu" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-double-left"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center">
      <i class="fa fa-fw"></i>
    </a>
  </li>
</ul>
{% endblock navbar-sidenav %}
{% block content %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}
{% block logout %}{% endblock %}
{% block javascript %}
<!-- Bootstrap core JavaScript-->
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/vendor/jquery/jquery.min.js"></script>
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/vendor/datatables/jquery.dataTables.js"></script>
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="https://www.carthage.edu/static/vendor/bootstrap-admin4.0.0/js/sb-admin-datatables.min.js"></script>
<script>
  $(function() {
    $('#olvidado').click(function(e) {
      e.preventDefault();
      $('div#form-olvidado').toggle('500');
    });
    $('#acceso').click(function(e) {
      e.preventDefault();
      $('div#form-olvidado').toggle('500');
    });
  });
</script>
{% endblock %}
